
@{
    ViewBag.Title = "Moods";
}

@section scripts{
    <script src="~/Scripts/MoodClient.js"></script>
    @*<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', { 'packages': ['corechart'] });
        google.setOnLoadCallback(drawBackgroundColor());

        function drawBackgroundColor() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'Dogs');

            data.addRows([
                [0, 0], [1, 10], [2, 23], [3, 17], [4, 18], [5, 9],
                [6, 11], [7, 27], [8, 33], [9, 40], [10, 32], [11, 35],
                [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
                [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
                [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
                [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
                [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
                [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
                [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
                [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
                [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
                [66, 70], [67, 72], [68, 75], [69, 80]
            ]);

            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'Popularity'
                },
                backgroundColor: '#f1f8e9'
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>*@
}


<h2>Moods</h2>

<div ng-app="MoodApp" class="container" ng-controller="MoodController">
    <br/>
    <form ng-submit="addMood()">
        <div class="row">
            <div class="form-group">
                <div class="row"><label for="moodText">Mood:</label>
                </div>
                <div class="row"><input id="moodText" type="text" ng-model="newMood.mood"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <label for="notesText">Notes:</label>
                </div>
                <div class="row">
                    <input id="notesText" type="text" ng-model="newMood.notes"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <label for="scaleNumber">Scale of 1-10:</label>
                </div>
                <div class="row">
                    <input id="scaleNumber" type="number" ng-model="newMood.scale"/>
                </div>
                <div class="row">
                    <input id="scaleRange" type="range" min="0" max="10" ng-model="newMood.scale"/>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit" id="submit"/>
        </div>
    </form>
    <br/>
    <div class="row">
        <input type="text" placeholder="Search Mood" ng-model="searchMood" />
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead class="thead">
            <tr>
                <td>MoodId</td>
                <td>Mood</td>
                <td>Notes</td>
                <td>Scale</td>
                <td>Scale (num)</td>
                <td>Date</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr ng-repeat="r in moods | filter : searchMood">
                <td>{{r.MoodId}}</td>
                <td>{{r.Mood}}</td>
                <td>{{r.Notes}}</td>
                <td><input type="range" min="0" max="10" value="{{r.Scale}}"/></td>'
                <td>{{r.Scale}}</td>
                <td>{{r.ModifiedDate.slice(6, -2) | date: 'EEE MMM dd, yyyy'}}</td>
                <td><button class="fa fa-remove" aria-hidden="true" ng-click="deleteMood($index)"></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="chart_div" style="width: 900px; height: 500px"></div>



